.count {
  .countSec {
    flex-wrap: wrap;
    .countContent {
      padding: 30px 20px;
      .text p {
        font-size: 22px;
        font-weight: 600;
        padding-top: 10px;
      }
    }
  }
  .countSec > div {
    flex: 0 25%;
  }
}

@media screen and (max-width: 576px) {
  .count {
    .countSec > div {
      flex: 0 100%;
    }
  }
}
