.testimonial {
  margin-top: 100px;
  padding: 120px 0px;
  background: linear-gradient(180deg, #c185ff, #faf9ff);
  z-index: 0;
  .swiper-pagination {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  .swiper-pagination .swiper-pagination-bullet {
    border: none;
    background: none;
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.3s;
    border: 4px solid transparent;
    img {
      border-radius: 50%;
    }
    &.swiper-pagination-bullet-active {
      border: 4px solid #fff;
    }
  }

  .testimonial-slider {
    text-align: center;
    color: var(--primary);
  }

  .testimonial-slider h3 {
    padding: 30px 0px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    margin: 20px 0;
    color: var(--primary);
  }

  .testimonial-slider p {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary);
    padding-bottom: 10px;
  }

  .testimonial-slider small {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .testimonial .testimonial-slider h3 {
    font-size: 30px;
    line-height: 44px;
  }
}
