.Efficiency {
  padding-top: 50px;
  background: var(--bg-purple);
  .mainEfficiency {
    padding: 40px;
    .icon {
      height: 100px;
    }
    .title {
      padding: 20px 0px;
    }
    .para p {
      font-size: 16px;
      color: var(--primary);
    }
    .readMore {
      margin-top: 30px;
      a {
        background: var(--secondary);
        color: var(--white);
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .Efficiency .mainEfficiency {
    margin-top: 30px;
  }
}
