.HeroSectionNew {
  background: linear-gradient(163.6deg, #ffffff 36.3%, #e6e2ff 84.6%);
  overflow: hidden;
  img.BadgeImage {
    position: absolute;
    z-index: 12;
    top: 25px;
    right: 34px;
    height: 44px;
    width: auto;
    object-fit: contain;
  }
  .heroContent {
    padding-left: 100px;
    padding-bottom: 100px;
    p {
      font-size: 20px;
      line-height: 34px;
      color: var(--primary);
      padding: 30px 0px;
    }
  }
  .heroImg {
    position: relative;
    right: -10%;
    margin-top: 80px;
    top: 7px;
  }
}
@media (max-width: 1200px) {
  .HeroSectionNew {
    .heroContent {
      padding-left: 20px;
      h1 {
        font-size: 35px;
        line-height: 40px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .HeroSectionNew .heroImg {
    right: -20%;
  }
}
@media screen and (max-width: 768px) {
  .HeroSectionNew {
    height: 100%;
    padding: 75px 0px 0;
    .heroImg {
      right: 0;
      margin-top: 50px;
    }
    .heroContent {
      padding-left: 0;
    }
    .heroContent p {
      font-size: 25px;
      line-height: 34px;
    }
    .hero-img-parent {
      padding-right: 0;
    }
  }
}
@media (max-width: 567px) {
  .HeroSectionNew {
    .heroContent {
      h1 {
        font-size: 28px;
      }
      p {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
}
