.aboutBlog {
  padding: 100px 0px;
  position: relative;
  .blogAbContent {
    .heading {
      margin-bottom: 20px;
    }
    .content p {
      font-size: 16px;
      line-height: 24px;
      color: inherit;
    }
  }
  .aboutBlogImg {
    height: 350px;
  }
}
