// guide page

.otherGuides section.allBlogs {
  border-radius: 0;
  padding-top: 40px;
}
.otherGuides .allBlogs .mainBlogBoxes {
  justify-content: flex-start;
}
.otherGuides .col-lg-8.col-md-8 {
  flex: 0 0 100%;
  max-width: 100%;
}
.otherGuides .col-lg-4.col-md-4 {
  display: none;
}
.otherGuides .allBlogs .mainBlogBoxes .blogBox {
  flex: 0 calc(25% - 15px);
}
.allBlogs {
  padding: 100px 0px;
  background: #fff;
  border-radius: 100px 0 0 0;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background: #e6e1fd;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .mainBlogBoxes {
    justify-content: space-between;
    gap: 20px;
    .blogBox {
      margin-bottom: 70px;
      flex: 0 calc(50% - 10px);
      .blogName {
        margin-top: 30px;
        min-height: 80px;
        h4 {
          font-size: 24px;
          line-height: 38px;
          font-weight: 500;
          width: fit-content;
          cursor: pointer;
          &:hover {
            color: var(--secondary);
          }
        }
      }
      .blogImg {
        height: 300px;
        width: 100%;
      }
      .blogDate {
        position: absolute;
        top: 20px;
        left: 20px;
        background: var(--white);
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 14px 30px 0 rgba(68, 28, 183, 0.25);
        text-align: center;
      }
      .blogBtns {
        justify-content: space-between;
        margin-top: 20px;
        flex-wrap: wrap;

        p {
          font-size: 15px;
          color: var(--primary);
          display: flex;
          cursor: pointer;
          span {
            color: var(--secondary);
            display: flex;
            svg {
              width: 16px;
            }
          }
          &:hover {
            color: var(--secondary);
            svg {
              fill: var(--secondary);
            }
          }
        }
      }
    }
  }
  .sidebar {
    padding-left: 50px;
    .searchInput {
      margin-bottom: 50px;
      margin-top: 20px;
      .search-bar {
        justify-content: space-between;
        gap: 20px;
        input {
          width: 100%;
          border: 2px solid var(--secondary);
          padding-left: 10px;
          border-radius: 18px;
        }

        a,
        button {
          font-size: 16px;
          font-weight: 600;
          color: var(--white);
          background: var(--secondary);
          padding: 10px 20px;
          border: none;
          cursor: pointer;
          border-radius: 18px;
        }
      }
    }
    .recentPosts {
      h4 {
        font-size: 20px;
        line-height: 28px;
      }
      .postLists {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-top: 20px;
        p {
          color: var(--primary);
          font-weight: 500;
          cursor: pointer;
          &:hover {
            color: var(--secondary);
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .otherGuides .allBlogs .mainBlogBoxes .blogBox {
    flex: 0 calc(50% - 10px);
  }
}
@media screen and (max-width: 576px) {
  .otherGuides .allBlogs .mainBlogBoxes .blogBox {
    flex: 0 100%;
  }
  .allBlogs {
    .mainBlogBoxes {
      justify-content: center;
      .blogBox {
        flex: 0 100%;
        .blogImg {
          height: 350px;
          width: 100%;
        }
      }
    }
    .sidebar {
      padding-left: 0;
    }
  }
}
