.contactBanner {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  overflow: hidden;
  .contactImg {
    height: 500px;
  }
}
.contactForm {
  background: var(--secondary);
  padding-bottom: 100px;
  .form {
    padding-top: 50px;
  }
  .contactUsForm {
    margin-top: -250px;
    background: var(--white);
    border-radius: 40px;
    padding: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .contactUsForm h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--secondary);
  }
  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  .form-group label {
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
  }
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: var(--secondary);
  }
  .privacy {
    flex-direction: unset;
    gap: 10px;
    #privacy {
      width: unset;
    }
  }
  .form-group textarea {
    resize: vertical;
    height: 120px;
  }
  .form-group .recaptcha,
  .form-group .privacy {
    display: flex;
    align-items: center;
  }
  .form-group .privacy label {
    margin-left: 10px;
    font-size: 14px;
  }
  .form-group button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--secondary);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
  }
  .form-group button:hover {
    background-color: var(--primary);
  }
}
@media screen and (max-width: 767px) {
  .contactBanner {
    padding: 100px 0;
    .contactImg {
      height: 300px;
    }
  }
  .contactForm {
    .contactUsForm {
      margin-top: -150px;
    }
  }
}
