.services {
  padding-top: 50px;
  padding-bottom: 300px;
  background: var(--bg-purple);
  .servicesBoxmain {
    margin: 20px 0;
    .servicesBox {
      border-radius: 30px;
      .title {
        h4 {
          color: var(--primary);
        }
      }
      .para {
        p {
          color: var(--primary);
        }
      }
    }
  }
  .servicesBox {
    padding: 70px 70px 50px 70px;
    background: var(--secondary);
    height: 100%;
    .icon {
      width: 150px;
      padding: 20px;
      background: var(--white);
      border-radius: 50%;
      margin: 0 auto;
      height: 150px;
    }
    .title {
      padding: 30px 0px;
      h4 {
        font-size: 32px;
        line-height: 37px;
        color: var(--white);
      }
    }
    .para p {
      font-size: 16px;
      line-height: 21px;
      color: var(--white);
    }
    .btn {
      margin-top: 50px;
      a {
        background: #f7f3ff;
        color: var(--primary);
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .services {
    .servicesBox {
      margin-top: 30px;
    }
  }
}
@media screen and (max-width: 992px) {
  .services {
    .servicesBox {
      padding: 40px;
    }
  }
}
