.guide-card .back-link {
  display: inline-flex;
  align-items: center;
  color: var(--secondary);
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 1.5rem;
  border: 1px solid var(--secondary);
  border-radius: 50px;
  padding: 5px 10px;
}

.guide-card .back-link i {
  margin-right: 6px;
}

.card-container {
  display: flex;
  gap: 2rem;
  border-radius: 20px;
  padding: 2rem;
}

.card-image img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card-content {
  flex: 1;
}

.badge {
  display: inline-block;
  background: var(--secondary);
  color: var(--white);
  font-size: 0.8rem;
  padding: 4px 12px;
  border-radius: 50px;
  font-weight: 500;
}

.card-content h1 {
  font-size: 48px;
  margin: 1rem 0;
  color: var(--primary);
}

.card-content h1 .highlight {
  color: var(--secondary);
  text-decoration: none;
}

.card-content p {
  font-size: 22px;
  margin-bottom: 1.5rem;
  line-height: 1.6;
  color: var(--primary);
  font-weight: 500;
}

.author {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: var(--text);
  margin-bottom: 1.2rem;
}

.author i {
  margin-right: 6px;
  color: var(--secondary);
}

.author .dot {
  margin: 0 8px;
}

.socials a {
  color: var(--secondary);
  font-size: 1.2rem;
  margin-right: 12px;
  transition: color 0.3s;
}

.socials a:hover {
  color: var(--primary);
}

section.guide-card {
  padding: 3em 5em 7em 5em;
  background: linear-gradient(177deg, #fff, #e6e2ff);
}

.card-image {
  border-radius: 16px;
  flex-shrink: 0;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.authuser-icon {
  width: 35px;
  height: 35px;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #ccc;
  margin: 0 15px;
}
@media (max-width: 780px) {
  section.guide-card {
    padding: 1em;
  }
  .card-image {
    width: 100%;
    height: 100%;
  }
  .card-container,
  .inr-toc,
  .success-section,
  .author {
    flex-direction: column;
    padding: 0em;
    text-align: center;
    align-items: anchor-center;
    gap: 10px;
  }

  .card-content h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .card-content p {
    font-size: 18px;
  }
  .divider {
    display: none;
  }
  .toc {
    padding: 5px;
    position: relative;
    margin: 0 15px;
    align-self: auto;
  }
}
@media (min-width: 781px) and (max-width: 1170px) {
  section.guide-card,
  .inr-toc {
    padding: 1em;
  }
  .card-container {
    padding: 0em;
  }

  .card-content h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .card-content p {
    font-size: 16px;
  }
  .author {
    font-size: 0.7rem;
  }
  .success-content {
    max-width: 50%;
    text-align: left;
  }
}
