#header {
  padding: 20px 0;
  background-color: var(--white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  .headerLogo {
    height: 41px;
    width: 154px;
  }

  .headerMenu {
    display: flex;
    justify-content: space-between;
    .btn {
      margin: 0;
    }
    .menu {
      list-style: none;
      display: flex;
      gap: 20px;

      a {
        color: var(--primary);
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        position: relative;
        padding: 10px;
      }
    }
  }

  .hamburger-menu {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    float: right;
    i {
      font-size: 30px;
      color: var(--primary);
    }
  }
  button.close-menu {
    display: none;
    color: var(--primary);
  }
  // @media (max-width: 992px) {
  //    .headerMenu .menu {
  //     gap: 10px;
  //   }
  // }
  @media (max-width: 992px) {
    button.close-menu {
      display: block;
    }
    .headerMenu {
      justify-content: start;
      position: fixed;
      top: 0;
      right: -100%;
      height: 100%;
      width: 80%;
      background-color: var(--white);
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
      padding: 10px;
      flex-direction: column;
      transition: right 0.3s ease-in-out;
      z-index: 1000;
      &.active {
        right: 0;
      }
      .btn {
        margin-top: 30px;
      }
      .close-menu {
        align-self: flex-end;
        background: none;
        border: none;
        font-size: 24px;
        font-weight: bold;
        color: var(--primary);
        cursor: pointer;
      }
      .menu {
        text-align: center;
        margin-top: 20px;
        flex-direction: column;
        gap: 20px;
      }
    }
    .hamburger-menu {
      display: flex;
    }
  }
}
#header {
  .mega-menu {
    display: none;
    position: absolute;
    top: 30px;
    left: -20%;
    width: 100%;
    background: var(--white);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
    z-index: 9999;
    border-top: 3px solid var(--secondary);
    border-radius: 0 0 10px 10px;
    animation: fadeIn 0.3s ease-in-out;
    gap: 20px;
  }
  .megaFlexMenu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    width: 67%;
  }

  .underMega {
    display: flex;
    flex: 0 0 calc(50% - 10px);
    gap: 15px;
    align-items: flex-start;
    padding: 5px;
    background: var(--bg-color);
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    a {
      gap: 10px;
    }
  }
  .icon {
    width: 70px;
    height: 70px;
  }
  .content h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin: 0 0 5px;
    color: var(--primary);
  }

  .content p {
    font-size: 14px;
    color: var(--text);
    margin: 0;
    line-height: 20px;
  }

  .mega-column.outcomes {
    width: 30%;
    padding-left: 20px;
    border-left: 1px solid #ddd;
  }

  .mega-column.outcomes h3 {
    font-size: 18px;
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 15px;
  }

  .mega-column.outcomes ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .mega-column.outcomes ul li {
    font-size: 14px;
    color: var(--text);
    line-height: 21px;
    margin-bottom: 8px;
    span {
      padding-right: 8px;
      i {
        color: var(--orange);
      }
    }
  }
  .menu .dropdown:hover .mega-menu {
    display: flex;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
@media screen and (max-width: 576px) {
  #header .hamburger-menu {
    position: absolute;
    right: 20px;
    top: -35px;
  }
}

@media screen and (max-width: 786px) {
  .menu .dropdown:hover .mega-menu {
    display: none !important;
  }
}
