.BlogTable {
  .table-container {
    padding-bottom: 30px;
    max-width: 100%;
    overflow-x: auto;
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 0 auto;
      background: var(--white);
      border-radius: 8px;
    }

    th,
    td {
      text-align: left;
      padding: 15px;
      border: 1px solid #ddd;
    }

    th {
      background-color: var(--secondary);
      color: var(--white);
      font-weight: 500;
    }

    td {
      color: var(--text);
    }
  }

  @media (max-width: 767px) {
    .table-container table {
      display: block;

      thead {
        display: none;
      }

      tr {
        display: block;
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;
      }

      td {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        gap: 30px;
      }
      td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        color: #6a0dad;
      }
    }
  }
}
