.form-col {
  margin-bottom: 20px;
}

button.submit {
  font-size: 16px;
  padding: 10px 20px;
  background: var(--primary);
  color: var(--white);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.prevbtn {
  text-align: center;

  .imgprev {
    border: none;
    outline: none;
    background: #fff;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    cursor: pointer;

    svg {
      height: 16px;
      fill: #000;
    }
  }
}