.faq {
  background: #fbfbfd;
  padding: 100px 0px;
  h3 {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 38px;
  }
  .sidebar {
    background: var(--white);
    padding: 20px;
    border-radius: 5px;
  }
  .faqTabs ul {
    list-style: none;
  }
  .faqTabs ul li {
    padding: 10px 5px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  .faqTabs ul li.active {
    color: var(--secondary);
  }
  .faqTabs ul li:hover {
    background: #ebedf5;
  }
  .faqContent {
    display: none;
  }
  .faqSec {
    padding-left: 50px;
  }
  .faqContent.active {
    display: block;
  }
  .accordion {
    border-bottom: 1px solid #e4e0ee;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .accordion-header {
    padding: 15px 0px;
    cursor: pointer;
    h4 {
      font-size: 16px;
      font-weight: 500;
    }
  }
  .accordion-content {
    display: none;
    padding: 0px 0px 15px 0px;
    p {
      color: #a2a1b1;
      font-size: 15px;
    }
  }
  .accordion.active .accordion-content {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .faq {
    padding: 50px 0px;
    h3 {
      font-size: 25px;
      line-height: 32px;
    }
    .faqSec {
      padding: 0;
      margin-top: 50px;
    }
  }
}
.accordion.active .accordion-content {
  max-height: fit-content;
  opacity: 1;
}
