.heroSection {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  // height: 650px;
  min-height: 574px;
  padding: 100px 0px;
  overflow: hidden;
  .heroContent {
    p {
      font-size: 22px;
      line-height: 34px;
      color: var(--primary);
      font-weight: 500;
      padding: 30px 0px;
    }
  }
  .heroImg {
    position: relative;
    right: -10%;
  }
}
@media screen and (max-width: 992px) {
  .heroSection .heroImg {
    right: -20%;
  }
}
@media screen and (max-width: 768px) {
  .heroSection {
    height: 100%;
    padding: 50px 0px;
    .heroImg {
      right: 0;
      margin-top: 50px;
    }
    .heroContent p {
      font-size: 25px;
      line-height: 34px;
    }
  }
}
