.footer {
  padding: 50px 0px;
  background: linear-gradient(178.93deg, #e6e2ff 0.9%, #ffffff 56.99%);
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    background-image: url("./footerasset.png");
    background-position: 0px 85%;
    background-repeat: no-repeat;
    background-size: 28% auto;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .footerlogos {
    display: flex;
    gap: 10px;
    padding: 0;
  }
  .footerlogos img {
    width: 30%;
  }
  .column {
    padding: 0 20px;
  }
  .column-40 {
    width: 40%;
    padding-right: 80px;
  }
  .column-20 {
    width: 20%;
  }
  .listbox {
    margin-bottom: 28px;
  }
  .listbox h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .column ul li {
    margin-bottom: 9px;
  }
  .column ul li a {
    font-size: 16px;
    color: var(--secondary);
    font-weight: 300;
  }
  .logo {
    width: 190px;
    height: 41px;
  }

  .para p {
    color: var(--primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    padding: 20px 0px 40px 0px;
  }

  .socialIcons {
    padding-top: 20px;
    gap: 10px;

    a {
      background: transparent;
      color: var(--white);
      // padding: 6px 7px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        height: 26px;
        width: 26px;
        path {
          fill: var(--primary);
        }
      }
      &:hover {
        svg {
          path {
            fill: var(--secondary);
          }
        }
      }
    }
  }

  .map {
    margin-top: 20px;
  }

  .footer-menu {
    padding: 50px;

    li {
      border-bottom: 1px solid var(--primary);
      padding: 8px 0px;
    }

    a {
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      color: var(--primary);
    }
  }
}
@media (max-width: 992px) {
  .footer .column-40 {
    width: 50%;
    margin-bottom: 25px;
  }
  .footer .column-20 {
    width: 50%;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    .footer-menu {
      padding: 40px 0px;
    }
  }
}

@media screen and (max-width: 567px) {
  .footer .column-40 {
    width: 100%;
    margin-bottom: 25px;
  }
  .footer .column-20 {
    width: 100%;
    margin-bottom: 25px;
  }
}
