.content-with-video {
  background: linear-gradient(359.91deg, #e6e2ff 0.09%, #ffffff 75.75%);
  padding: 100px 0 150px;
  .content-video-head {
    margin-bottom: 30px;
    h2 {
      font-size: 48px;
      line-height: 1.15;
      color: var(--primary);
    }
  }
  .content-video-text {
    p {
      font-size: 16px;
      line-height: 1.3;
      color: var(--primary);
    }
  }
  .video-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 12px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.18);
    .video-thumbnail,
    .video-thumbnail img,
    .video-iframe {
      width: 100%;
      height: 100%;
    }
    .video-thumbnail {
      cursor: pointer;
    }

    .video-thumbnail img {
      object-fit: cover;
    }
  }
  .categoryboxes {
    margin-top: 100px;
    .categoryboxes-main {
      gap: 20px;
      flex-wrap: wrap;
      .categorybox {
        background: #fff;
        border-radius: 20px;
        flex: 0 calc(16.66% - 17px);
        text-align: center;
        padding: 20px 10px;
        img {
          height: 115px;
          width: auto;
          object-fit: contain;
        }
        h3 {
          font-size: 16px;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .content-with-video {
    .content-video-head {
      h2 {
        font-size: 35px;
      }
    }
    .categoryboxes {
      .categoryboxes-main {
        .categorybox {
          flex: 0 calc(25% - 15px);
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .content-with-video {
    .video-wrapper {
      margin-top: 50px;
    }
  }
}
@media (max-width: 832px) {
  .content-with-video {
    .categoryboxes {
      .categoryboxes-main {
        .categorybox {
          flex: 0 calc(33.33% - 15px);
        }
      }
    }
  }
}
@media (max-width: 636px) {
  .content-with-video {
    .categoryboxes {
      .categoryboxes-main {
        .categorybox {
          flex: 0 calc(50% - 10px);
        }
      }
    }
  }
}
@media (max-width: 567px) {
  .content-with-video {
    .content-video-head {
      h2 {
        font-size: 28px;
      }
    }
  }
}
