.blogTableTitles {
  padding: 100px 0px;
  .tableMainComponents {
    padding-top: 80px;
    // justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    .tableComponent {
      margin-bottom: 30px;
      text-align: center;
      .titleImg {
        height: 150px;
        width: 150px;
        margin: 0 auto;
      }
      .title a {
        padding-top: 20px;
        font-size: 24px;
        font-weight: 700;
        color: var(--primary);
      }
    }
  }
  .tableMainComponents > div {
    flex: 0 31%;
  }
}
